$background-color: lightblue;

html {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: $background-color;
}

main {
    background-color: $background-color;
}

body {
    background-color: $background-color;
}

h1 {
    text-align: center;
}